.container {
    max-width: 1301px;
    margin: 0 auto;
}

.tabs {
    display: flex;
    align-items: center;
    max-width: 1240px;
    margin: 0 auto;
}

.tabButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 94px;
    border: none;
    border-radius: 8px;
    background-color: var(--White);
    cursor: pointer;
}

.marginLeft {
    margin-left: 10px;
}

.active {
    background-color: var(--BrandLightOrange);
}

.p {
    margin-left: 14px;
    font-size: 14px;
    font-weight: 400;
    color: var(--BrandDarkOrange);
}

@media (max-width: 932px) {
    .container {
        width: 100%;
    }
}


@media (max-width: 767px) {
    .container {
        width: 100%;
        margin: 0;
    }


    .tabs {
        width: 90%;
        margin: 0 auto;
    }
}