.form {
    display: flex;
    flex-direction: column;
}

.label {
    margin-top: 24px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 7px;
}

.input {
    font-family: Inter, sans-serif;
    color: var(--NeutralGrey600);
    font-size: 12px;
    padding: 19px 17px;
    border: 1px solid var(--NeutralGrey200);
    border-radius: 4px;
}

.button {
    background-color: var(--NeutralGrey800);
    color: var(--White);
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 13px 30px;
    width: 242px;
    height: 50px;
    margin-top: 41px;
}

.input::placeholder {
    color: var(--NeutralGrey600);
    opacity: 1;
    font-family: Inter, sans-serif;
    font-size: 12px;
}

@media (max-width: 429px) {
    .button {
        margin: 41px auto 0 auto;
        width: 210px;
        padding: 13px 13px;
    }
}