.dialog {
    padding: 0 0;
    border: none;
    border-radius: 10px;
}

.content {
    width: 598px;
    padding: 79px 73px;
}

.closeButton {
    background-color: var(--White);
    border: none;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 545.5px;
    top: 37.5px;
    cursor: pointer;
}

.title {
    font-family: var(--FontManrope), sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 16px;
}

.img {
    margin-right: 8px;
}

@media (max-width: 767px) {
    .content {
        width: 400px;
        padding: 49px 43px;
    }

    .closeButton {
        left: 85%;
        top: 25px;
    }
}

@media (max-width: 510px) {
    .content {
        width: 300px;
        padding: 49px 43px;
    }

    .closeButton {
        left: 85%;
        top: 18px;
    }
}