.page {
  background-color: var(--NeutralGrey50);
}

.main {
  background-color: var(--NeutralGrey50);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  margin: 89px auto 48px auto;
}

.content {
  max-width: 1301px;
  margin: 0 auto;
}

.welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-family: var(--FontManrope), sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 14px;
  margin-top: 0px;
}

.p {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (max-width: 1439px) {
  .content {
    margin: 0 100px;
  }
}

@media (max-width: 1170px) {
  .content {
    margin: 0 75px;
  }
}

@media (max-width: 1074px) {
  .content {
    margin: 0 50px;
  }
}

@media (max-width: 932px) {
  .content {
    margin: 0 25px;
  }

  .header {
    width: 90%;
    margin: 89px auto 48px auto;
  }

  .p {
    width: 90%;
  }
}

@media (max-width: 767px) {

  .content {
    margin: 0 10px;
  }

  .header {
    width: 90%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    margin: 89px auto 48px auto;
  }
}
