.page {
  background-color: var(--NeutralGrey50);
}

.main {
  background-color: var(--NeutralGrey50);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 89px auto 48px auto;
}

.content {
  min-height: 74vh;
  max-width: 1166px;
  margin: 0 auto;
}

.welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-family: var(--FontManrope), sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 14px;
  margin-top: 0px;
}

.p {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.projectsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
  margin: 0 auto 80px auto;
}

@media (max-width: 1270px) {
  .content {
    min-height: 74vh;
    max-width: 760px;
    margin: 0 auto;
  }

  .projectsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    margin: 0 auto 80px auto;
  }
}

@media (max-width: 932px) {
  .content {
    margin: 0 auto;
  }

  .projectsList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;
    margin: 0 auto 80px auto;
  }
}

@media (max-width: 814px) {
  .content {
    margin: 0 30px;
  }
}

@media (max-width: 814px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    margin: 89px auto 48px auto;
  }
}

